<header>
    <div class="container">
        <h2><span>IATC</span></h2>
        <nav>
            <a href="#">Home</a>
            <a href="#">Services</a>
            <a href="#">Projects</a>
            <a href="#">Contact</a>
        </nav>
        <button class="hamburger">
            <div class="bar"></div>
        </button>
    </div>
</header>

<div class="mobile-nav">
    <nav>
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
    </nav>
</div>