<div class="mobile-nav">
    <nav>
        <a href="#">Our Mission</a>
        <a href="#">Services</a>
        <a href="#">Events</a>
        <a href="#">Dawah</a>
        <a href="#">Cemetry</a>
        <a href="#">Education</a>
    </nav>
</div>

<header>
    <div class="container">
        <h2><span>IATC</span></h2>
        <nav>
            <a href="#">Our Mission</a>
            <a href="#">Services</a>
            <a href="#">Events</a>
            <a href="#">Dawah</a>
            <a href="#">Cemetry</a>
            <a href="#">Education</a>
        </nav>
        <button class="hamburger">
            <div class="bar"></div>
        </button>
    </div>
</header>