.prayers {
    background-color: #EEE;
    padding-bottom: 32px;
    .container {
        padding-top: 64px;
			padding-bottom: 64px;

        h2 {
            text-align: center;
            margin-bottom: 5%;
            text-transform: uppercase;

            color: #313131;
            font-size: 32px;
        }

        .prayers-grid {

            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 16px;

            @media (max-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (max-width: 767px) {
                grid-template-columns: repeat(2, 1fr);
                :nth-child(1) {
                    margin: auto;
                }
                :nth-child(2) {
                    margin: auto;
                }
                :nth-child(3) {
                    margin: auto;
                }
                :nth-child(4) {
                    margin: auto;
                }
                :nth-child(5) {
                    margin: auto;
                }
            }

            .prayer {
                background-color: #FFF;
                border-radius: 16px;
                overflow: hidden;
                box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.9);


                .img-box {
                    display: block;
                    width: 100%;
    
                    .img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content {
                    padding: 5%;
                }
            }
        }
    }
}