<section class="prayers">
    <div class="container">
        <h2>Prayer Times</h2>
        <div class="prayers-grid">
            <div class="prayer">
                <figure class="img-box">
                    <img src="../../../assets/images/prayerTimes/fajr.png" alt="" class="img">
                </figure>
                <div class="content">
                    <h3>Fajr</h3>
                    <p>Adhan -  {{ prayerTimesList.fajr.adhan }}</p>
                    <p>Iqamah -  {{ prayerTimesList.fajr.iqamah }}</p>
                </div>
            </div>
            <div class="prayer">
                <figure class="img-box">
                    <img src="../../../assets/images/prayerTimes/dhur.png" alt="" class="img">
                </figure>
                <div class="content">
                    <h3>Dhur</h3>
                    <p>Adhan -  {{ prayerTimesList.dhur.adhan }}</p>
                    <p>Iqamah -  {{ prayerTimesList.dhur.iqamah }}</p>
                </div>
            </div>
            <div class="prayer">
                <figure class="img-box">
                    <img src="../../../assets/images/prayerTimes/asr.png" alt="" class="img">
                </figure>
                <div class="content">
                    <h3>Asr</h3>
                    <p>Adhan -  {{ prayerTimesList.asr.adhan }}</p>
                    <p>Iqamah -  {{ prayerTimesList.asr.iqamah }}</p>
                </div>
            </div>
            <div class="prayer">
                <figure class="img-box">
                    <img src="../../../assets/images/prayerTimes/maghrib.png" alt="" class="img">
                </figure>
                <div class="content">
                    <h3>Maghrib</h3>
                    <p>Adhan -  {{ prayerTimesList.maghrib.adhan }}</p>
                    <p>Iqamah -  {{ prayerTimesList.maghrib.iqamah }}</p>
                </div>
            </div>
            <div class="prayer">
                <figure class="img-box">
                    <img src="../../../assets/images/prayerTimes/isha.png" alt="" class="img">
                </figure>
                <div class="content">
                    <h3>Isha</h3>
                    <p>Adhan -  {{ prayerTimesList.isha.adhan }}</p>
                    <p>Iqamah -  {{ prayerTimesList.isha.iqamah }}</p>
                </div>
            </div>
        </div>
    </div>
</section>