section.banner {
    // color: #B6B96E;
    color: #FFF;
    min-height: 100vh;
    display: flex;
    align-items: center;

    position: relative;
    background-image: url('../../../assets/images/homepage.jpg');
    background-position: center;
    background-size: cover;

    &:after  {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: #BFA360;
        opacity: 0.75;
    }

    .container {
        position: relative;
        z-index: 1;

        h1 {
            font-size: 72px;
            margin-bottom: 1%;
            text-transform: uppercase;
        }

        h3 {
            font-size: 36px;
            font-weight: 400;
        }
    }
}