* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Fira Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	.back-to-top {
		position: fixed;
		bottom: 2rem;
		right: 2rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: #8BB55C;
		border-radius: 0.5rem;
		padding: 2px;
		text-decoration: none;
		transition: 0.2s ease-out;

		@media (max-width: 768px) {
			background-color: green;
		}

		span {
			color: #FFF;
			font-size: 3rem;
			transition: 0.2s ease-out;

			@media (max-width: 768px) {
				font-size: 1.5rem;
			}
		}

		@media (min-width: 769px) {
			&:hover {
				background-color: green;
			}	
		}
	}
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;

    @media (max-width: 1024px) {
		padding-left: 64px;
		padding-right: 64px;
	}

	@media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}
}

img {
    max-width: 100%;
}

section {
	h2 {
		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;

		color: #313131;
		font-size: 36px;
	}
}

.button {
	appearance: none;
	border: none;
	outline: none;
	background: none;

    display: inline-block;
    color: #FFF;
    font-size: 20px;
    background-color: #8BB55C;
	padding: 12px 16px;
	padding: 12px 16px;
	border-radius: 8px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;

    @media (max-width: 767px) {
		font-size: 18px;
	}
}

