* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Fira Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;

    @media (max-width: 1024px) {
		padding-left: 64px;
		padding-right: 64px;
	}

	@media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media (min-width: 768px) {
	.mobile-nav {
		display: none;
	}
}

img {
    max-width: 100%;
}

section {
	h2 {
		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;

		color: #313131;
		font-size: 36px;
	}
}

.button {
	appearance: none;
	border: none;
	outline: none;
	background: none;

    display: inline-block;
    color: #FFF;
    font-size: 20px;
    background-color: #8BB55C;
	padding: 12px 16px;
	padding: 12px 16px;
	border-radius: 8px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;

	&:hover {
		background-color: green;
		transition: background-color 0.8s ease;
	}

    @media (max-width: 767px) {
		font-size: 18px;
	}
}

