<section class="contact" id="contact">
    <div class="container">
        <h2>Contact</h2>
        <form>
            <div class="form-grid">
                <input type="text" name="subject" id="subject" placeholder="Subject" class="form-element">
                <input type="text" name="name" id="name" placeholder="Name" class="form-element">
                <input type="email" name="email" id="email" placeholder="Email" class="form-element">
                <textarea name="message" id="message" placeholder="Message" class="form-area"></textarea>
            </div>
            <div class="right-align">
                <input type="submit" class="button">
            </div>
        </form>
    </div>
</section>